<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Image Tumbler</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'upload/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'upload/edit.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div >

        <div class="cover-container d-flex p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand">Image Thumbler</h3>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="{% url 'upload:index' %}">Home</a>
                <a class="nav-link active" href="{% url 'upload:album' %}">Albums</a>
              </nav>
            </div>
          </header>
        </div>

        <div class="d-flex p-3 mx-auto flex-column">
          <main role="main">

            <section class=" text-center">
              <div class="container">
                <h1 class="jumbotron-heading">Derivative Images</h1>
                <br />
                <br />
                <br />
              </div>
            </section>

              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <div class="thumbnail">
                        <img class="card-img-top pop" id="{{ image.pk }}" src="{{ image.image_url }}" alt="{{ image.image_name }}" style="cursor:pointer">
                      </div>
                      <div class="card-body">
                        <p class="card-text text-muted"><strong>{{ image.image_name|truncatechars:15 }}</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><a class='btn-outline-secondary' href="{% url 'upload:edit' image.pk %}">Edit</a></button>
                            <button type="button"  class="btn btn-sm btn-outline-danger"><a class='btn-outline-danger' href="{% url 'upload:delete' image.pk %}">Delete</a></button>
                          </div>
                          <small class="text-muted">{{ image.image_date }}</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <img src="{{ imagelist.0.image_url }}" class="imagepreview" style="width: 100%;" >
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>

          </main>
        </div>

        <div class="cover-container d-flex p-3 mx-auto flex-column">
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>© Image Thumber 2019</p>
        </div>
      </footer>
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'upload/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'upload/album.js' %}"></script>
  </body>
</html>
