<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Image Tumbler</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'upload/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'upload/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Image Thumbler</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'upload:index' %}">Home</a>
            <a class="nav-link" href="{% url 'upload:album' %}">Albums</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Upload Your Memories</h1>
        <p class="lead">Image thumbler can upload multiple and edit your picture on your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#exampleModal">Start now</a>
        </p>
      </main>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Files</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="container mt-5">
                <form method="post" enctype="multipart/form-data" action="{% url 'upload:fileupload' %}" >
                  {% csrf_token %}
                  <div class="form-group">
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" name="images" multiple class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload</button>
                  </div>
                </form>
              </div>

            </div>

          </div>
          </div>
        </div>
      </div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>© Image Thumber 2019</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'upload/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'upload/cover.js' %}"></script>
  </body>
</html>
